<div class="d-flex justify-content-between align-items-center">
  <h1>ユーザー編集</h1>
  <%= link_to "一覧に戻る", users_path, class: 'btn btn-outline-secondary' %>
</div>

<%= render partial: "form", locals: {user: @user, password_not_required: admin_edit_other_user?(@user)} %>
