<h1>ユーザー一覧</h1>

<div id="users">
  <ul class="list-group list-group-flush">
    <% @users.each do |user| %>
      <li class="list-group-item">
        <%= "#{user.first_name} #{user.last_name} : #{user.admin ? '管理者' : '一般'}" %> |
        <%= link_to "ユーザー詳細へ", user, class: 'link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover' %>
      </li>
    <% end %>
  </ul>
</div>


<%= link_to "新規ユーザー", new_user_path, class: 'btn btn-outline-info' %>
