<% @user ||= current_user %>

<%= render @user %>

<div>
  <% if can? :edit, @user %>
    <%= link_to "Edit this user", edit_user_path(@user) %>
  <% end %>
  <% if can? :read, @user %>
    <%= link_to "Back to users", users_path %>
  <% end %>
  <% if can? :destroy, @user %>
    <%= button_to "Destroy this user", @user, method: :delete %>
  <% end %>
</div>
