<div class="d-flex justify-content-between align-items-center">
  <h1>パスワード変更</h1>
  <%= link_to "戻る", user_path(@user), class: 'btn btn-outline-secondary' %>
</div>

<%= render partial: "password_form", locals: {user: @user} %>
