// Sassy
@import "bootstrap";

.nav-link-hover-opacity:hover {
  opacity: 0.6;
}

.link-card:hover{
  box-shadow: 3px 3px 3px lightgray;
  border-color: gray;
}

.mood {
  color: white;
  &-normal {
    background-color: #59b644;
  }
  &-fun {
    background-color: #e67e22;
  }
  &-productive {
    background-color: #3ec8dd;
  }
  &-sleepy {
    background-color: #9b59b6;
  }
  &-unwell {
    background-color: #6e6e6e;
  }
}

body {
  --bs-body-bg: #f7f6f2;
}

.page-link {
  color: black;
}

.page-link:hover {
  color: white;
  background-color: rgb(90, 90, 90);
  border-color: black;
}

.page-item.active .page-link {
  background-color: rgb(90, 90, 90);
  border-color: black;
}

.custom-tooltip .tooltip-inner {
background-color: transparent;
color: black;
border: 1px solid black;
}
