// Sassy
@import "bootstrap";

.nav-link-hover-opacity:hover {
  opacity: 0.6;
}

.card:hover{
  box-shadow: 3px 3px 3px lightgray;
  border-color: gray;
}

.mood-normal {
  color: white;
  background-color: #59b644;
}

.mood-fun {
  color: white;
  background-color: #e67e22;
}

.mood-productive {
  color: white;
  background-color: #3ec8dd;
}

.mood-sleepy {
  color: white;
  background-color: #9b59b6;
}

.mood-unwell {
  color: white;
  background-color: #6e6e6e;
}
