<div id="<%= dom_id daily_report %>">
  <p>
    <strong>Title:</strong>
    <%= daily_report.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= daily_report.content %>
  </p>

  <p>
    <strong>Mood:</strong>
    <%= daily_report.mood %>
  </p>

</div>
