<div class="col-md-8 m-auto">
  <h1>新しい日報</h1>

  <%= render "form", daily_report: @daily_report %>

  <br>

  <div>
    <%= link_to "日報一覧へ", daily_reports_path, class: "btn btn-outline-secondary" %>
  </div>
</div>
